* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
}
@font-face {
    font-family: 'Open Sans Condensed';
    src: url('/home/user/Desktop/l3/all1/fonts/Open_Sans/static/OpenSans_Condensed-Light.ttf') format('truetype');
}
/* Header */
.header {
    background-color: #dcdcdc;
}
.wrapper {
    margin: 0 15%;
    height: 16.5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 992px) {
    .wrapper {
        height: 22vw;
        margin: 0 10%;
    }
    .logo__icon__image {
        width: 15vw;
        height: auto;
    }
}
/* Logo and title */
.logo {
    display: flex;
}
.logo__text, .logo__icon {
    display: inline-block;
}
.logo__icon__link {
    display: block;
}
.logo__text {
    color: #767676;
    padding: 0.7vw 0 0 0.9vw;
}
h1.title {
    font-size: 2vw;
    letter-spacing: 0.1vw;
    line-height: 2vw;
 }
h2.subtitle {
    font-size: 1.1vw;
    padding-top: 0.7vw;
    font-weight: 100;
}
@media screen and (max-width: 992px) {
    h1.title {
        font-size: 3vw;
        letter-spacing: 0.2vw;
        line-height: 3vw;
    }
    h2.subtitle {
        font-size: 2vw;
        padding-top: 1vw;
        font-weight: 100;
    }
}
/* Phone numbers and Feedback*/

.phone__numbers a {
    font-size: 3vw;
    letter-spacing: 1px;
    color: #767676;
    font-family: "Open Sans", sans-serif;
    line-height: 2vw;
    text-decoration: none;
    display: block;
}
.feedback {
    display: block;
    padding-bottom: 3.8vw;
    padding-top: 1vw;
}
.feedback a{
    font-size: 1.7vw;
    letter-spacing: 1px;
    color: #767676;
    font-weight: 700;
    text-decoration: none;
    border-bottom: dashed;
    float: right;
}
@media screen and (max-width: 992px) {
    .phone__numbers a {
        font-size: 5vw;
        letter-spacing: 3px;
        line-height: 3.5vw;
    }
    .feedback a{
        font-size: 2.7vw;
        letter-spacing: 2px;
        color: #767676;
    }
}
@media screen and (min-width: 1600px) {
    .logo__icon__image {
        width: 150px;
        height: auto;
    }
}
@media screen and (min-width: 2600px) {
    .logo__icon__image {
        width: 200px;
        height: auto;
    }
}
